# Frontend
frontend/.eslintcache

# Yarn Artifacts
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/sdks
!frontend/.yarn/versions
frontend/yarn-debug.log*
frontend/yarn-error.log*

# npm Artifacts
frontend/node_modules/
frontend/package-lock.json
frontend/npm-debug.log*

# C# (ASP.NET Core Backend and Tests)
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.idea/
.vscode/

# Database
backend/Database/*.db
backend/Database/*.sqlite
!backend/Database/your-database-file.db

# Build artifacts
*.testhost.*

# Test Results
tests/TestResults/